<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles!

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
<br>
<%= will_paginate @articles %>
<br>
<%= link_to "New Article", new_article_path %>
